<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div fxLayout="column"
       fxLayout.lt-md="column"
       fxLayoutAlign="space-between"
       fxLayoutGap="20px">

    <div *ngFor="let exame of exames" fxFlex="60">
      <app-exame-form [exame]="exame" [form]="form"></app-exame-form>
    </div>

    <div fxFlex="30">
      <button mat-raised-button color="primary" type="submit">Salvar</button>
    </div>

    <div fxFlex="10">
      <strong>Objeto preenchido: </strong><br>
      <pre>{{payLoad}}</pre>
    </div>
  </div>
</form>



