<div [formGroup]="form">
  <div [ngSwitch]="exame.controlType">
    <mat-form-field *ngSwitchCase="'text'">
      <mat-label [attr.for]="exame.key">{{exame.label}}</mat-label>
      <input matInput
             [placeholder]="exame.placeholder"
             [formControlName]="exame.key"
             [id]="exame.key"
             [type]="exame.type">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'dropdown'">
      <mat-label>{{exame.label}}</mat-label>
      <mat-select [id]="exame.key"
                  [formControlName]="exame.key" >
        <mat-option>Selecione</mat-option>
        <mat-option *ngFor="let opt of exame.options" [value]="opt.value">{{opt.key}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngFor="let validation of exame.validations">
    <mat-error *ngIf="hasErros(exame.key, validation?.validation?.toLowerCase())">{{validation?.message}}</mat-error>
  </div>
</div>



