<div [formGroup]="form">
  <label [attr.for]="exame.key">{{exame.label}}</label>

  <div [ngSwitch]="exame.controlType">

    <input *ngSwitchCase="'text'" [formControlName]="exame.key"
           [id]="exame.key" [type]="exame.type">

    <select [id]="exame.key" *ngSwitchCase="'dropdown'" [formControlName]="exame.key">
      <option *ngFor="let opt of exame.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{exame.label}} is required</div>
</div>
